.app{
  text-align: center;
}
.items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-between;
}

.item{
  width: 20%;
  height: 25%;
  margin: 1%;
  -webkit-box-shadow: 10px -7px 20px -5px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 10px -7px 20px -5px rgba(34, 60, 80, 0.2);
box-shadow: 10px -7px 20px -5px rgba(34, 60, 80, 0.2);
border-radius: 10%;
transition: 0.3s;
background-color: rgb(243, 243, 159);
}

.item:hover{
  scale: 1.1;
}